<div class='question'>
  <div class='question-errors'>
    <%= render 'shared/errors', resource: @question %>
  </div>

  <h1><%= @question.title %></h1>
  <p><%= @question.body %></p>

  <div class="question-files">
    <% if @question.files.attached? %>
      <% @question.files.each do |file| %>
        <p class='file-container'><%= link_to file.filename.to_s, url_for(file) %>
          <% if current_user == @question.user %>
            <span><%= link_to 'delete file', purge_attachment_path(file), class: 'remove-file-link', method: :delete, remote: true %></span>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="links">
    <p>Links:</p>
    <ul>
      <% @question.links.each do |link| %>
          <li>
            <%= link_to link.name, link.url %>
          </li>
      <% end %>
    </ul>
  </div>

  <% if current_user == @question.user %>
    <p><%= link_to 'Delete', @question, method: :delete, confirm: 'Are you sure?' %></p>
    <p><%= link_to 'Edit Question', '#', class: 'edit-question-link' %></p>
  <% end %>

  <div id='question-form' class='hidden'>
    <%= render 'form' %>
  </div>
</div>
