<div class='question-errors'>
  <%= render 'shared/errors', resource: @question %>
</div>

<div class='question'>
  <%= render 'question' %>
</div>

<div class='answer-errors'>
  <%= render 'shared/errors', resource: @answer %>
</div>

<ul class='answers'>
  <%= render @question.answers %>
</ul>

<%= form_with model: [@question, @answer], class: 'new-answer', local: false do |f| %>
  <%= f.label :body, 'Your answer' %>
  <%= f.text_area :body %>
  <%= f.submit 'Create Answer' %>
<% end %>
