<%= render 'question' %>

<ul class='answers'>
  <div class='answer-errors'>
    <%= render 'shared/errors', resource: @answer %>
  </div>
  <%= render @question.answers.sort_by_best %>
</ul>

<%= form_with model: [@question, @answer], class: 'new-answer', local: false do |f| %>
  <%= f.label :body, 'Your answer' %>
  <%= f.text_area :body %>
  <%= f.label :files %>
  <%= f.file_field :files, multiple: true, direct_upload: true %>
  <%= f.fields_for :links do |l| %>
    <%= l.label :name, 'Link Name' %>
    <%= l.text_field :name %>
    <%= l.label :url %>
    <%= l.text_field :url %>
  <% end %>
  <%= f.submit 'Create Answer' %>
<% end %>
