<li class='answer' id=<%= answer.id %>>
  <p><%= answer.body %></p>

  <div class='answer-errors'>
    <%= render 'shared/errors', resource: answer %>
  </div>

  <% if current_user == answer.user %>
    <p><%= link_to 'Edit Answer', '#', class: 'edit-answer-link', data: { answer_id: answer.id } %></p>
    <p><%= link_to 'Delete Answer', answer, class: 'remove-answer-link', method: :delete, remote: true %></p>
  <% end %>

  <% if current_user == answer.question.user %>
    <p><%= link_to 'Best Answer', mark_as_best_answer_path(answer), method: :post, data: { answer_id: answer.id }, remote: true %></p>
  <% end %>
</li>


<%= form_with model: answer, class: 'hidden', html: { id: "edit-answer-#{answer.id}"  }, local: false do |f| %>
  <%= f.label :body, 'Your answer' %>
  <%= f.text_area :body %>
  <%= f.submit 'Save' %>
<% end %>
